<div class="header">
	<img src="img/betterteam-logo-small.png" />
</div>

<div class="well">
	
	<h1>Lad os finde ud af hvordan vi taber bolden?</h1>

	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>

</div>

<div class="well">
	
	<h1>Lad os finde ud af hvordan vi taber bolden?</h1>

	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>

</div>