<div class="header">
	<img src="img/betterteam-logo-small.png" />
</div>

<div class="well">
	
	<h1>Lad os finde ud af hvordan vi taber bolden?</h1>

	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Basal Fejlaflevering</button>
	<button class="btbtn btn-2 btn-2c">Nærkamp / bolderobring</button>
	<button class="btbtn btn-2 btn-2c">Bold spillet ud af banen</button>
	<button class="btbtn btn-2 btn-2c">Dårlig 1. berøring</button>

</div>

<div class="well">
	
	<img src="img/horizontal-pitch.svg" style="width: 100%"/>

</div>