@import '../bower_components/bootstrap/dist/css/bootstrap.css';
.unselectable {
  /* http://stackoverflow.com/questions/6900124/make-some-text-unselectable-with-css */

  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  /* Rules below not implemented in browsers yet */

  -o-user-select: none;
  user-select: none;
}
.gradient-fill {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f1f5f6), to(#ebf0f2));
  background-image: -webkit-linear-gradient(top, #f1f5f6, 0%, #ebf0f2, 100%);
  background-image: -moz-linear-gradient(top, #f1f5f6 0%, #ebf0f2 100%);
  background-image: linear-gradient(to bottom, #f1f5f6 0%, #ebf0f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f5f6', endColorstr='#ffebf0f2', GradientType=0);
}
.rounded-shadow {
  -webkit-box-shadow: 4px 4px 0px 0px #bdc2c7;
  box-shadow: 4px 4px 0px 0px #bdc2c7;
  border-radius: 3px;
}
.bordered-box {
  /*margin: @gutter;*/

  padding: 10px;
  margin-bottom: 10px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f1f5f6), to(#ebf0f2));
  background-image: -webkit-linear-gradient(top, #f1f5f6, 0%, #ebf0f2, 100%);
  background-image: -moz-linear-gradient(top, #f1f5f6 0%, #ebf0f2 100%);
  background-image: linear-gradient(to bottom, #f1f5f6 0%, #ebf0f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f5f6', endColorstr='#ffebf0f2', GradientType=0);
  background-color: #ebf0f2;
  -webkit-box-shadow: 4px 4px 0px 0px #bdc2c7;
  box-shadow: 4px 4px 0px 0px #bdc2c7;
  border-radius: 3px;
  zoom: 1;
}
.bordered-box:before,
.bordered-box:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.bordered-box:after {
  clear: both;
}
.bordered-box:before {
  content: '';
  display: block;
}
.bordered-box:after {
  content: '';
  display: table;
  clear: both;
}
.text-green {
  color: #429960;
}
.text-dark {
  color: #364b5e;
}
.text-grey {
  color: #bdc2c7;
}
.text-light {
  color: #f1f6f7;
}
.bg-primary {
  background-color: rgba(34, 85, 52, 0.8);
}
.bg-green {
  background-color: #429960;
}
.bg-dark {
  background-color: #364b5e;
}
.bg-grey {
  background-color: #bdc2c7;
}
.bg-light {
  background-color: #3fbe5b;
}
.bg-background {
  background-color: #ebf0f2;
}
* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.logo {
  margin: -100px 0 0 -84px;
}
@include position(absolute, 50% 0 0 50%);
.pitch {
  display: inline-block;
  /* http://stackoverflow.com/questions/6900124/make-some-text-unselectable-with-css */

  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  /* Rules below not implemented in browsers yet */

  -o-user-select: none;
  user-select: none;
  -webkit-box-shadow: 4px 4px 0px 0px #bdc2c7;
  box-shadow: 4px 4px 0px 0px #bdc2c7;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  z-index: -1;
  max-height: 100%;
}
.footballpitch-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.footballpitch-wrapper .canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
.footballpitch-wrapper .footballpitch {
  /* http://stackoverflow.com/questions/6900124/make-some-text-unselectable-with-css */

  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  /* Rules below not implemented in browsers yet */

  -o-user-select: none;
  user-select: none;
  z-index: -1;
  max-height: 100%;
}
.footballpitch-wrapper .footballpitch img {
  width: 100%;
}
.footballpitch-wrapper .display {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.footballpitch-wrapper .marker {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.6);
}
.footballpitch-wrapper .marker.start {
  background-color: green;
}
.footballpitch-wrapper .marker.end {
  background-color: red;
}
button::-moz-focus-inner {
  border: 0;
}
button:focus {
  outline: none;
}
.btn-touch {
  font-size: 2em;
  width: 7%;
  height: 75px;
}
.time-container {
  zoom: 1;
}
.time-container:before,
.time-container:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.time-container:after {
  clear: both;
}
.time-container:before {
  content: '';
  display: block;
}
.time-container:after {
  content: '';
  display: table;
  clear: both;
}
.time-container .time-left-wrapper {
  overflow: hidden;
}
.time-container .time-display {
  width: 50px;
  float: right;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  padding: 0 5px;
}
.time-container .time-controls-wrapper {
  width: 50px;
  float: left;
  padding: 0 5px;
}
.time-container .time-bar-wrapper {
  overflow: hidden;
}
.matchreport {
  height: 1024px;
}
.matchreport .top {
  position: relative;
  background-color: #ccc;
  min-height: 50px;
}
.matchreport .middle {
  min-height: 924px;
  background-color: #eee;
}
.matchreport .bottom {
  min-height: 50px;
  background-color: #ccc;
}
::selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
.badge-danger {
  background-color: #d9534f;
}
.badge-success {
  background-color: #5cb85c;
}
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
   its values is > 50%. */

  z-index: 10;
}
.noUi-stacking + .noUi-origin {
  /* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */

  *z-index: -1;
}
.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 34px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 34px;
  left: -17px;
  top: -1px;
}
.noUi-horizontal.noUi-extended {
  padding: 0 15px;
}
.noUi-horizontal.noUi-extended .noUi-origin {
  right: -15px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}
.noUi-vertical.noUi-extended {
  padding: 15px 0;
}
.noUi-vertical.noUi-extended .noUi-origin {
  bottom: -15px;
}
/* Styling;
 */
.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0;
}
.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
.noUi-origin {
  border-radius: 2px;
}
.noUi-target {
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbbbbb;
}
.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #bbbbbb;
}
/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #ffffff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbbbbb;
}
.noUi-active {
  box-shadow: inset 0 0 1px #ffffff, inset 0 1px 7px #dddddd, 0 3px 6px -3px #bbbbbb;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Blocked state;
 */
.noUi-state-blocked.noUi-connect,
.noUi-state-blocked .noUi-connect {
  background: #4FDACF;
}
.table .playername {
  width: 80%;
  padding: 0;
}
.table .playername a {
  display: block;
  padding: 8px;
}
#app {
  width: 100%;
  height: 1024px;
  margin: 0 auto;
  background: url(../img/betterteam-background-optimized.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.touchable {
  cursor: pointer;
}
.box {
  position: relative;
  display: block;
  padding: 10px;
  margin: 10px;
  border-radius: 0;
  border: 1px solid transparent;
  color: #ededed;
  background-color: rgba(34, 85, 52, 0.8);
  zoom: 1;
}
.box:before,
.box:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.box:after {
  clear: both;
}
.box:before {
  content: '';
  display: block;
}
.box:after {
  content: '';
  display: table;
  clear: both;
}
.box.box-dark {
  background-color: #13311e;
}
.box.box-light {
  background-color: #3fbe5b;
}
.box.box-white {
  background-color: #fff;
  color: #223d4d;
}
.box.box-transparent {
  background-color: rgba(34, 85, 52, 0.8);
}
.box.clickable {
  cursor: pointer;
}
.box .hideable {
  overflow: hidden;
}
.box.collapsed h1 {
  margin: 0 !important;
}
.box.collapsed .hideable {
  display: none;
}
.box h1 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
}
.box h1:only-child {
  margin: 0;
}
.box h1 .selected-value {
  color: #3fbe5b;
}
a.box {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.btn-event {
  display: block;
  float: left;
  border: none;
  width: 33.3%;
  height: 90px;
  background: #3fbe5b;
  color: #ededed;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  /*
  margin-right: 5px;
  */

  padding-right: 5px;
  margin-bottom: 5px;
}
.btn-event::nth-child(4n) {
  margin-right: 0;
}
.btn-event:active {
  box-shadow: inset 1px 2px 5px #13311e;
  background-color: #39ab52;
}
.splashscreen {
  position: relative;
  width: 100%;
  height: 1024px;
}
.splashscreen img {
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
}
.header {
  padding: 10px;
  border-bottom: 1px solid rgba(19, 49, 30, 0.8);
  text-align: center;
  background-color: #ffffff;
  overflow: hidden;
}
.fnIntroTransition {
  position: relative;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-right: 15px;
  padding-left: 15px;
  /*
  &:first-child{
    padding-left: 15px;
  }
  &:last-child{
    padding-right: 15px;
  }
  */

}
@media only screen and (min-width: 320px) {
  
}
@media only screen and (min-width: 480px) {
  
}
@media only screen and (min-width: 768px) {
  
}
@media only screen and (min-width: 1024px) {
  
}
@media only screen and (min-width: 1140px) {
  
}
@media only screen and (min-width: 1280px) {
  
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* NPROGRESS STYLING */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  -webkit-pointer-events: none;
}
#nprogress .bar {
  background: #3fbe5b;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #3fbe5b, 0 0 5px #3fbe5b;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 100;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: rgba(34, 85, 52, 0.8);
  border-left-color: rgba(34, 85, 52, 0.8);
  border-radius: 10px;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  -moz-animation: nprogress-spinner 400ms linear infinite;
  -ms-animation: nprogress-spinner 400ms linear infinite;
  -o-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes nprogress-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes nprogress-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes nprogress-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
