.unselectable {
  /* http://stackoverflow.com/questions/6900124/make-some-text-unselectable-with-css */

  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  /* Rules below not implemented in browsers yet */

  -o-user-select: none;
  user-select: none;
}
.gradient-fill {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f1f5f6), to(#ebf0f2));
  background-image: -webkit-linear-gradient(top, #f1f5f6, 0%, #ebf0f2, 100%);
  background-image: -moz-linear-gradient(top, #f1f5f6 0%, #ebf0f2 100%);
  background-image: linear-gradient(to bottom, #f1f5f6 0%, #ebf0f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f5f6', endColorstr='#ffebf0f2', GradientType=0);
}
.rounded-shadow {
  -webkit-box-shadow: 4px 4px 0px 0px #bdc2c7;
  box-shadow: 4px 4px 0px 0px #bdc2c7;
  border-radius: 3px;
}
.bordered-box {
  /*margin: @gutter;*/

  padding: 10px;
  margin-bottom: 10px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f1f5f6), to(#ebf0f2));
  background-image: -webkit-linear-gradient(top, #f1f5f6, 0%, #ebf0f2, 100%);
  background-image: -moz-linear-gradient(top, #f1f5f6 0%, #ebf0f2 100%);
  background-image: linear-gradient(to bottom, #f1f5f6 0%, #ebf0f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f5f6', endColorstr='#ffebf0f2', GradientType=0);
  background-color: #ebf0f2;
  -webkit-box-shadow: 4px 4px 0px 0px #bdc2c7;
  box-shadow: 4px 4px 0px 0px #bdc2c7;
  border-radius: 3px;
  zoom: 1;
}
.bordered-box:before,
.bordered-box:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.bordered-box:after {
  clear: both;
}
.bordered-box:before {
  content: '';
  display: block;
}
.bordered-box:after {
  content: '';
  display: table;
  clear: both;
}
.text-green {
  color: #429960;
}
.text-dark {
  color: #364b5e;
}
.text-grey {
  color: #bdc2c7;
}
.text-light {
  color: #f1f6f7;
}
.bg-green {
  background-color: #429960;
}
.bg-dark {
  background-color: #364b5e;
}
.bg-grey {
  background-color: #bdc2c7;
}
.bg-light {
  background-color: #f1f6f7;
}
.bg-background {
  background-color: #ebf0f2;
}
* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.logo {
  margin: -100px 0 0 -84px;
}
@include position(absolute, 50% 0 0 50%);
.pitch {
  display: inline-block;
  /* http://stackoverflow.com/questions/6900124/make-some-text-unselectable-with-css */

  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  /* Rules below not implemented in browsers yet */

  -o-user-select: none;
  user-select: none;
  -webkit-box-shadow: 4px 4px 0px 0px #bdc2c7;
  box-shadow: 4px 4px 0px 0px #bdc2c7;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  z-index: -1;
  max-height: 100%;
}
.btn-scout {
  margin-right: 5px;
  height: 100px;
  width: 100px;
  /*margin: @gutter;*/

  padding: 10px;
  margin-bottom: 10px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f1f5f6), to(#ebf0f2));
  background-image: -webkit-linear-gradient(top, #f1f5f6, 0%, #ebf0f2, 100%);
  background-image: -moz-linear-gradient(top, #f1f5f6 0%, #ebf0f2 100%);
  background-image: linear-gradient(to bottom, #f1f5f6 0%, #ebf0f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f5f6', endColorstr='#ffebf0f2', GradientType=0);
  background-color: #ebf0f2;
  -webkit-box-shadow: 4px 4px 0px 0px #bdc2c7;
  box-shadow: 4px 4px 0px 0px #bdc2c7;
  border-radius: 3px;
  zoom: 1;
}
.btn-scout:before,
.btn-scout:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.btn-scout:after {
  clear: both;
}
.btn-scout:before {
  content: '';
  display: block;
}
.btn-scout:after {
  content: '';
  display: table;
  clear: both;
}
.btn-scout .count {
  display: block;
  font-size: 2em;
  font-weight: bold;
}
.btn-scout.positive {
  color: green;
}
.btn-scout.negative {
  color: red;
}
::selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}
.table .playername {
  width: 80%;
  padding: 0;
}
.table .playername a {
  display: block;
  padding: 8px;
}
p {
  display: inline-block;
  color: #333;
  vertical-align: middle;
  font-size: 20px;
  text-align: right;
  line-height: 1.6;
}
p a {
  color: #333;
  padding: 2px 4px;
  border: 2px solid #aaa;
  border-radius: 2px;
  text-decoration: none;
}
p a:hover {
  border-color: #666;
  color: #000;
}
.animation {
  display: inline-block;
  position: relative;
  width: 460px;
  height: 377px;
  margin: 0 auto;
  vertical-align: middle;
}
.animation .device {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  background: #111;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.animation .device .phone-home-button,
.animation .device .tablet-home-button {
  position: absolute;
  border-radius: 50%;
  background: #444;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.animation .device .phone-home-button {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  right: 11px;
  top: 50%;
}
.animation .device .tablet-home-button {
  width: 12px;
  height: 12px;
  margin-left: -6px;
  bottom: 7px;
  left: 50%;
}
.animation .device .screen-stand {
  position: absolute;
  width: 100%;
  margin-left: -10px;
  margin-top: -1px;
  top: 60%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.animation .device .screen-stand .leg {
  position: absolute;
  width: 12px;
  height: 16px;
  left: 50%;
  top: 0;
  margin-left: -6px;
  background: #111;
}
.animation .device .screen-stand .foot {
  position: absolute;
  width: 120px;
  height: 4px;
  left: 50%;
  top: 15px;
  margin-left: -60px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: #111;
}
.animation .device .display {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #34495e;
  z-index: 3;
}
.animation .device .display div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  white-space: nowrap;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.animation .device .display div div {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -14px;
  font-size: 1.1em;
  text-align: center;
  color: #fff;
}
.animation .device .display div div em {
  font-weight: bold;
}
.animation .device .display .slide1 {
  background: #34495e;
}
.animation .device .display .slide2 {
  background: #16a085;
}
.animation .device .display .slide3 {
  background: #3498db;
}
.animation[data-animation-step="1"] .device {
  width: 70%;
  height: 60%;
  padding: 10px;
  border-radius: 4px;
}
.animation[data-animation-step="1"] .device .slide1 {
  left: 0%;
}
.animation[data-animation-step="1"] .device .screen-stand {
  opacity: 1;
  top: 100%;
}
.animation[data-animation-step="2"] .device {
  width: 45%;
  height: 72%;
  padding: 24px;
  border-radius: 10px;
}
.animation[data-animation-step="2"] .device .slide1 {
  left: -100%;
}
.animation[data-animation-step="2"] .device .slide2 {
  left: 0%;
}
.animation[data-animation-step="2"] .device .tablet-home-button {
  opacity: 1;
}
.animation[data-animation-step="3"] .device {
  width: 54%;
  height: 38%;
  padding: 10px 36px;
  border-radius: 6px;
}
.animation[data-animation-step="3"] .device .slide1,
.animation[data-animation-step="3"] .device .slide2 {
  left: -100%;
}
.animation[data-animation-step="3"] .device .slide3 {
  left: 0%;
}
.animation[data-animation-step="3"] .device .phone-home-button {
  opacity: 1;
}
@media only screen and (min-width: 320px) {
  
}
@media only screen and (min-width: 480px) {
  
}
@media only screen and (min-width: 768px) {
  
}
@media only screen and (min-width: 1024px) {
  
}
@media only screen and (min-width: 1140px) {
  
}
@media only screen and (min-width: 1280px) {
  
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
