@import '../bower_components/bootstrap/dist/css/bootstrap.css';
.unselectable {
  /* http://stackoverflow.com/questions/6900124/make-some-text-unselectable-with-css */

  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  /* Rules below not implemented in browsers yet */

  -o-user-select: none;
  user-select: none;
}
.gradient-fill {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f1f5f6), to(#ebf0f2));
  background-image: -webkit-linear-gradient(top, #f1f5f6, 0%, #ebf0f2, 100%);
  background-image: -moz-linear-gradient(top, #f1f5f6 0%, #ebf0f2 100%);
  background-image: linear-gradient(to bottom, #f1f5f6 0%, #ebf0f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f5f6', endColorstr='#ffebf0f2', GradientType=0);
}
.rounded-shadow {
  -webkit-box-shadow: 4px 4px 0px 0px #bdc2c7;
  box-shadow: 4px 4px 0px 0px #bdc2c7;
  border-radius: 3px;
}
.bordered-box {
  /*margin: @gutter;*/

  padding: 10px;
  margin-bottom: 10px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f1f5f6), to(#ebf0f2));
  background-image: -webkit-linear-gradient(top, #f1f5f6, 0%, #ebf0f2, 100%);
  background-image: -moz-linear-gradient(top, #f1f5f6 0%, #ebf0f2 100%);
  background-image: linear-gradient(to bottom, #f1f5f6 0%, #ebf0f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f5f6', endColorstr='#ffebf0f2', GradientType=0);
  background-color: #ebf0f2;
  -webkit-box-shadow: 4px 4px 0px 0px #bdc2c7;
  box-shadow: 4px 4px 0px 0px #bdc2c7;
  border-radius: 3px;
  zoom: 1;
}
.bordered-box:before,
.bordered-box:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.bordered-box:after {
  clear: both;
}
.bordered-box:before {
  content: '';
  display: block;
}
.bordered-box:after {
  content: '';
  display: table;
  clear: both;
}
.text-green {
  color: #429960;
}
.text-dark {
  color: #364b5e;
}
.text-grey {
  color: #bdc2c7;
}
.text-light {
  color: #f1f6f7;
}
.bg-green {
  background-color: #429960;
}
.bg-dark {
  background-color: #364b5e;
}
.bg-grey {
  background-color: #bdc2c7;
}
.bg-light {
  background-color: #f1f6f7;
}
.bg-background {
  background-color: #ebf0f2;
}
* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.logo {
  margin: -100px 0 0 -84px;
}
@include position(absolute, 50% 0 0 50%);
.pitch {
  display: inline-block;
  /* http://stackoverflow.com/questions/6900124/make-some-text-unselectable-with-css */

  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  /* Rules below not implemented in browsers yet */

  -o-user-select: none;
  user-select: none;
  -webkit-box-shadow: 4px 4px 0px 0px #bdc2c7;
  box-shadow: 4px 4px 0px 0px #bdc2c7;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  z-index: -1;
  max-height: 100%;
}
.footballpitch-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.footballpitch-wrapper .canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
.footballpitch-wrapper .footballpitch {
  /* http://stackoverflow.com/questions/6900124/make-some-text-unselectable-with-css */

  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  /* Rules below not implemented in browsers yet */

  -o-user-select: none;
  user-select: none;
  z-index: -1;
  max-height: 100%;
}
.footballpitch-wrapper .footballpitch img {
  width: 100%;
}
.footballpitch-wrapper .display {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.footballpitch-wrapper .marker {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.6);
}
.footballpitch-wrapper .marker.start {
  background-color: green;
}
.footballpitch-wrapper .marker.end {
  background-color: red;
}
button::-moz-focus-inner {
  border: 0;
}
button:focus {
  outline: none;
}
.btn-touch {
  font-size: 2em;
  width: 140.6px;
  height: 75px;
}
.time-container {
  zoom: 1;
}
.time-container:before,
.time-container:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.time-container:after {
  clear: both;
}
.time-container:before {
  content: '';
  display: block;
}
.time-container:after {
  content: '';
  display: table;
  clear: both;
}
.time-container .time-left-wrapper {
  overflow: hidden;
}
.time-container .time-display {
  width: 50px;
  float: right;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  padding: 0 5px;
}
.time-container .time-controls-wrapper {
  width: 50px;
  float: left;
  padding: 0 5px;
}
.time-container .time-bar-wrapper {
  overflow: hidden;
}
.matchreport {
  height: 1024px;
}
.matchreport .top {
  position: relative;
  background-color: #ccc;
  min-height: 50px;
}
.matchreport .middle {
  min-height: 924px;
  background-color: #eee;
}
.matchreport .bottom {
  min-height: 50px;
  background-color: #ccc;
}
::selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
.badge-danger {
  background-color: #d9534f;
}
.badge-success {
  background-color: #5cb85c;
}
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
   its values is > 50%. */

  z-index: 10;
}
.noUi-stacking + .noUi-origin {
  /* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */

  *z-index: -1;
}
.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 34px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 34px;
  left: -17px;
  top: -1px;
}
.noUi-horizontal.noUi-extended {
  padding: 0 15px;
}
.noUi-horizontal.noUi-extended .noUi-origin {
  right: -15px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}
.noUi-vertical.noUi-extended {
  padding: 15px 0;
}
.noUi-vertical.noUi-extended .noUi-origin {
  bottom: -15px;
}
/* Styling;
 */
.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0;
}
.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
.noUi-origin {
  border-radius: 2px;
}
.noUi-target {
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbbbbb;
}
.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #bbbbbb;
}
/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #ffffff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbbbbb;
}
.noUi-active {
  box-shadow: inset 0 0 1px #ffffff, inset 0 1px 7px #dddddd, 0 3px 6px -3px #bbbbbb;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Blocked state;
 */
.noUi-state-blocked.noUi-connect,
.noUi-state-blocked .noUi-connect {
  background: #4FDACF;
}
#app {
  width: 768px;
  height: 1024px;
  margin: 0 auto;
  background: url(../img/betterteam-background-optimized.jpg) no-repeat center center;
}
.splashscreen {
  position: relative;
  width: 768px;
  height: 1024px;
  background: url(../img/betterteam-background-optimized.jpg) no-repeat center center;
}
.splashscreen img {
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
}
.header {
  padding: 10px;
  border-bottom: 1px solid rgba(19, 49, 30, 0.8);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
}
.well {
  margin: 10px;
  border-radius: 0;
  border: 1px solid transparent;
  background-color: rgba(34, 85, 52, 0.8);
  color: #ededed;
}
.well h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  max-width: 70%;
}
.btbtn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: 5px 5px 5px 0;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 125px;
  height: 125px;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 1.2em;
  line-height: 1.1em;
}
.btbtn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-2 {
  background: #3fbe5b;
  color: #ededed;
  box-shadow: 2px 4px rgba(19, 49, 30, 0.8);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
/* Button 2b */
.btn-2c {
  border-radius: 2px;
}
.btn-2c:active {
  box-shadow: 1px 2px rgba(19, 49, 30, 0.8);
  left: 1px;
  top: 2px;
}
.button {
  border-radius: 0;
  background-color: #3fbe5b;
  color: #ededed;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  width: 120px;
  height: 120px;
  border: 1px solid transparent;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
}
.button:focus {
  outline: 0;
}
.button:active,
.button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.button.disabled,
.button[disabled],
fieldset[disabled] .button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.table .playername {
  width: 80%;
  padding: 0;
}
.table .playername a {
  display: block;
  padding: 8px;
}
@media only screen and (min-width: 320px) {
  
}
@media only screen and (min-width: 480px) {
  
}
@media only screen and (min-width: 768px) {
  
}
@media only screen and (min-width: 1024px) {
  
}
@media only screen and (min-width: 1140px) {
  
}
@media only screen and (min-width: 1280px) {
  
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
