<div class="row fnIntroTransition">
	<div class="col-sm-12">
		<div id="r-score" style="margin: 5px">
		</div>
	</div>
</div>

{{!--
<div class="row fnIntroTransition">
	<div class="col-sm-4">
		<div class="box">
			<img src="http://lorempixel.com/400/200/sports/" style="width: 100%"/>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="box">
			<img src="http://lorempixel.com/400/200/sports/" style="width: 100%"/>
		</div>
	</div>	
	<div class="col-sm-4">
		<div class="box">
			<img src="http://lorempixel.com/400/200/sports/" style="width: 100%"/>
		</div>
	</div>	
</div>
--}}

<div class="row fnIntroTransition">
	<div class="col-sm-6">
		<div class="box">
			<h3><strong>Hvem</strong> har bolden: </h3>

			<div style="position:relative">
				<img src="img/horizontal-pitch-narrow.svg" style="width: 100%"/>

				<ul class="link-list" style="position: absolute; left: 0; top: 0;">
					<li><a class="btn-event"><span>Os</span></a></li>
					<li><a class="btn-event"><span>Neutral</span></a></li>
					<li><a class="btn-event"><span>Dem</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="box">
			<h3><strong>hvor</strong> er bolden: </h3>
			<img src="img/horizontal-pitch-narrow.svg" style="width: 100%"/>
		</div>
	</div>	
</div>

<div class="row fnIntroTransition">
	<div class="col-sm-12">
		<div class="box">
			<h3>Match <strong>events</strong>: </h3>

			<ul class="link-list">
				<li>
					<a class="btn-event">
						<div style="text-align: center">Boldtab</div>
						<div style="text-align: center">Makienok</div>
						<div style="text-align: center">
							<img src="img/horizontal-pitch-narrow.svg" style="width: 95%"/>
						</div>

					</a>
				</li><li>
					<a class="btn-event">
						<div style="text-align: center">Boldtab</div>
						<div style="text-align: center">Makienok</div>
						<div style="text-align: center">
							<img src="img/horizontal-pitch-narrow.svg" style="width: 95%"/>
						</div>

					</a>
				</li><li>
					<a class="btn-event">
						<div style="text-align: center">Boldtab</div>
						<div style="text-align: center">Makienok</div>
						<div style="text-align: center">
							<img src="img/horizontal-pitch-narrow.svg" style="width: 95%"/>
						</div>

					</a>
				</li><li>
					<a class="btn-event">
						<div style="text-align: center">Boldtab</div>
						<div style="text-align: center">Makienok</div>
						<div style="text-align: center">
							<img src="img/horizontal-pitch-narrow.svg" style="width: 95%"/>
						</div>

					</a>
				</li>
			</ul>
		</div>
	</div>
</div>