<div class="row fnIntroTransition">
	<div class="col-sm-12" id="r-score">

	</div>
</div>

<div class="row fnIntroTransition">
	<div class="col-sm-12" id="r-time">

	</div>
</div>

<div class="row fnIntroTransition">
	<div class="col-sm-12" id="r-tabs">

	</div>
</div>

<div class="row fnIntroTransition">
	<div class="col-sm-12" id="r-main">
		
	</div>
</div>


{{!-- 
<div class="row fnIntroTransition">
	<div class="col-sm-6">
		<div class="box">
			<h3><strong>Hvem</strong> har bolden: </h3>

			<div style="position:relative">
				<img src="img/horizontal-pitch-narrow.svg" style="width: 100%"/>

				<ul class="link-list" style="position: absolute; left: 0; top: 0;">
					<li><a class="btn-event"><span>Os</span></a></li>
					<li><a class="btn-event"><span>Neutral</span></a></li>
					<li><a class="btn-event"><span>Dem</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="box">
			<h3><strong>hvor</strong> er bolden: </h3>
			<img src="img/horizontal-pitch-narrow.svg" style="width: 100%"/>
		</div>
	</div>	
</div>
--}}