<div class="row">
    <div class="col-sm-6">
        <img src="img/betterteam-pitch-vertical.svg" style="width: 100%"/>
    </div>
    <div class="col-sm-6">
        {{#each buttons}}
            <button class="btn" data-type="button">{{this}}</button>
        {{/each}}
        {{!-- <button class="btn" data-type="button">Knap</button> --}}
    </div>
</div>
