<div class="row" id="matchreport-top">
    <div class="col-sm-12">Top</div>
</div>
<div class="row">
    <div class="col-sm-6" id="matchreport-left">Left</div>
    <div class="col-sm-6" id="matchreport-right">Right</div>
</div>
