<div class="row">
    <div class="col-sm-6">
        <img src="img/betterteam-pitch-vertical.svg" style="width: 100%"/>
    </div>
    <div class="col-sm-6">
        <a href="" class="btn btn-default">Knap</a>
        <a href="" class="btn btn-default">Knap</a>
        <a href="" class="btn btn-default">Knap</a>
        <a href="" class="btn btn-default">Knap</a>
        <a href="" class="btn btn-default">Knap</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="bower_components/holderjs/holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="bower_components/holderjs/holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="bower_components/holderjs/holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="bower_components/holderjs/holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="">
      </a>
    </div>
</div>
