/*
.btn-scout{
	margin-right: 5px;
    margin-bottom: 10px;
	height: 100px;
	width: 100px;

	//.bordered-box();

    .count{
        display: block;
        font-size: 2em;
        font-weight: bold;
    }

    &.positive{
        color: green;
    }

    &.negative{
        color: red;
    }
}
*/

@height: 660px;
@width: 1010px;
@top: 50px;
@bottom: 50px;
@middle: @height - @top - @bottom;

button::-moz-focus-inner {
  border: 0;
}

button:focus {
    outline: none;
}

.btn-scout {
  font-size: 20px;

  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: @green;
  border: 1px solid @green;
  color: white;
  text-shadow: #135f83 0 -1px 0;
  -moz-box-shadow: darken(@green,5%) 0 0.2em 0px, lighten(@green,5%) 0 1px 0 inset;
  -webkit-box-shadow: darken(@green,5%) 0 0.2em 0px, lighten(@green,5%) 0 1px 0 inset;
  -o-box-shadow: darken(@green,5%) 0 0.2em 0px, lighten(@green,5%) 0 1px 0 inset;
  box-shadow: darken(@green,5%) 0 0.2em 0px, lighten(@green,5%) 0 1px 0 inset;
  border-bottom: solid 1px darken(@green,1%);
  position: relative;
  margin-bottom: 15px;
}
.btn-scout:hover {
  background-color: lighten(@green,5%);
}

.btn-scout:active {
  top: 0.1em;
  -moz-box-shadow: darken(@green,5%) 0 0.1em 0px;
  -webkit-box-shadow: darken(@green,5%) 0 0.1em 0px;
  -o-box-shadow: darken(@green,5%) 0 0.1em 0px;
  box-shadow: darken(@green,5%) 0 0.1em 0px;
}

.sign{
    font-size: 20px;
    display: block;
    text-align: center;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: @dark;
  border: 1px solid @dark;
  color: white;
  text-shadow: #135f83 0 -1px 0;
  border-bottom: solid 1px darken(@dark,1%);
  margin: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

.matchreport{

    height: @height;
    width: @width;

    .topmenu{
        background-color: red;
        height: 0px;
    }

    .topbar{

        position: relative;

        height: @top;
        overflow: hidden;
        .clearfix();

        .first, .second{
            width: 45%;
            float: left;
        }
        .score{
            width: 10%;
            float: left;
            text-align: center;
            line-height: @top;
            font-size: 25px;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .middle{
        height: @middle;
        background-color: #eee;

        .buttons{
            padding: 10px;
        }

        overflow: hidden;
    }

    .bottom{
        min-height: @bottom;
        background-color: #ccc;
    }

    .clock{
        height: 100%;  /* Can be anything */
        position: relative;
        background: #555;
        padding: 0;
        border: 1px solid black;

        > span {
            display: block;
            height: 100%;
            background-color: black;
        }
    }

}

.type1{
    .btn-scout{
    font-size: 2em;
        width: (@width/5)-13px;
        height: 75px;
    }
}
