.btn-scout{
	margin-right: 5px;
	height: 100px;
	width: 100px;

	.bordered-box();

    .count{
        display: block;
        font-size: 2em;
        font-weight: bold;
    }

    &.positive{
        color: green;
    }

    &.negative{
        color: red;
    }
}
