<div id="r-time" class="fnIntroTransition">
	
</div>

<div class="row fnIntroTransition">
	<div class="col-sm-12" id="r-events">
	</div>
</div>

<div class="row fnIntroTransition">
	<div class="col-sm-4 text-center">
		<div class="box touchable active fnTabSelector" id="tab-what" data-tab="what">
			<strong class="text-upper">Hvad</strong>
			<h2 id="value-what">?</h2>
		</div>
	</div>
	<div class="col-sm-4 text-center">
		<div class="box touchable inactive fnTabSelector" id="tab-where" data-tab="where">
			<strong class="text-upper">Hvor</strong>
			<h2 id="value-where">?</h2>
		</div>
	</div>
	<div class="col-sm-4 text-center">
		<div class="box touchable inactive fnTabSelector" id="tab-who" data-tab="who">
			<strong class="text-upper">Hvem</strong>
			<h2 id="value-who">?</h2>
		</div>
	</div>	
</div>

<div class="row fnIntroTransition">
	<div class="col-sm-12">
		<div class="box fnValueSelector" id="c-what">
			<h1>Registrer <strong>hvad</strong></h1>
			<div id="r-what"></div>
		</div>
		<div class="box fnValueSelector hidden" id="c-where">
			<h1>Registrer <strong>hvor</strong></h1>
			<div id="r-where"></div>
		</div>	
		<div class="box fnValueSelector hidden" id="c-who">
			<h1>Registrer <strong>hvem</strong></h1>
			<div id="r-who"></div>
		</div>
	</div>
</div>