<div class="row">
	<div class="col-md-6">
		<div id="r-teams" class="box fnIntroTransition">
			
		</div>
	</div>

	<div class="col-md-6">
		<div class="box fnIntroTransition">
			<h1>BetterTeam <strong>Spillere</strong></h1>
			<div id="r-matches" ></div>
		</div>
	</div>

</div>