
<div class="row">
	<div class="col-md-4">
		<h1>Kampe</h1>

		<table id="matchlist" class="table">
			<tbody></tbody>
		</table>
	</div>
	<div class="col-md-8">
		<h1>Opret kamp</h1>

		<form id="create-match-form" class="form-inline" role="form">
		    <div class="form-group">
		        <label for="match-hometeam">Hjemmehold</label>
		        <input class="form-control" name="hometeam" id="match-hometeam" placeholder="Skriv hjemmehold" type="text">
		    </div>

		    <div class="form-group">
		        <label for="match-awayteam">Udehold</label>
		        <input class="form-control" name="awayteam" id="match-awayteam" placeholder="Skriv Udehold" type="text">
		    </div>

		    <br/>
		    <br/>
			<button class="btn btn-default" type="submit">Submit</button>
		</form>

	</div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
