<td class="text-center">
	<button type="button" class="btn btn-danger btn-sm btn-delete" data-playerid="{{ id }}">
		<span class="glyphicon glyphicon-trash"></span>
	</button>
</td>
<td class="playername" style="vertical-align: middle">
	<a href="#/matches/{{id}}">{{hometeam}}-{{awayteam}}</a>
</td>
