<div class="row">
	<div class="col-xs-12">
		<table class="table">
			<thead>
		        <tr>
		            <th colspan="2">Mål</th>
		        </tr>
			</thead>

		    <tbody>
		        <tr>
		            <td style="width: 50%"><button type="button" class="btn btn-success btn-lg btn-block">For</button></td>
		            <td style="width: 50%"><button type="button" class="btn btn-danger btn-lg btn-block">Imod</button></td>
		        </tr>
		    </tbody>
		</table>
	</div>
</div>

<hr/>

<div class="row">
	<div class="col-xs-12 col-sm-6">
		<h2>Home</h2>

			<table class="table">
				<thead>
			        <tr>
			            <th colspan="2">Indlæg</th>
			        </tr>
				</thead>

			    <tbody>
			        <tr>
			            <td style="width: 50%"><button type="button" class="btn btn-success btn-lg btn-block">Venstre</button></td>
			            <td style="width: 50%"><button type="button" class="btn btn-danger btn-lg btn-block">Højre</button></td>
			        </tr>
			    </tbody>
			</table>
	</div>

	<div class="col-xs-12 col-sm-6">
		<h2>Away</h2>

	</div>	
</div>

{{!-- <div class="row">
	<div class="col-xs-12">
		<img src="/img/betterteam-pitch.svg" id="pitch" class="pitch"/>
	</div>
</div> --}}