<div class="row">
    <div class="col-sm-12"><h1>{{hometeam}}-{{awayteam}}</h1></div>
    <div class="col-sm-6"><h1></h1></div>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Rapporter <button id="create-matchreport" class="btn btn-primary">Opret rapport</button></h1>

        <table id="reportlist" class="table">
            <tbody></tbody>
        </table>
    </div>
</div>

{{!-- <div class="row">
	<div class="col-xs-12">
		<img src="/img/betterteam-pitch.svg" id="pitch" class="pitch"/>
	</div>
</div> --}}
