<div class="time-progress">

Start Kamp <strong>45&prime;</strong>

    <div class="time-progress-bar">
        <div class="time-progress-filled"></div>
    </div>
</div>

<div class="time-container">

    <div id="time-display" class="time-display"><span></span>&prime;</div>

    <div class="time-controls-wrapper">
            <button id="btn-play"type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
            <button id="btn-pause"type="button" class="btn btn-default hidden"><span class="glyphicon glyphicon-pause"></span></button>
    </div>

    <div class="time-left-wrapper">
        
        <div class="time-bar-wrapper">
            <div class="noUiSlider"></div>
        </div>
    </div>
</div>