<a href="#/players/" class="btn btn-default">
	<span class="glyphicon glyphicon-circle-arrow-left"></span> Back
</a>

<h1> {{name}} </h1>

<div>Hold: {{team.name}}</div>
<div>Født: {{birthdate}}</div>

Positioner
<ul>
	{{#each positions}}
		<li>{{this}}</li>
	{{/each}}
</ul>

Her kommer info om spilleren
