<div class="row">
    <div class="col-md-12">
        <h1>Mine Kampe</h1>
        <ul class="items list-unstyled">

            {{#each items}}
                <li>
                    <a href="{{url url}}" class="btn">{{hometeam}}-{{awayteam}}</a>
                </li>
            {{/each}}

        </ul>

        <hr>

        <a href="#/create/match" class="btn">Opret kamp</a>
    </div>
</div>
