<div class="element scoreboard">
    <div class="table">
        <div class="td hometeam">{{hometeam}}</div>
        <div class="td score">0 - 0</div>
        <div class="td awayteam">{{awayteam}}</div>
    </div>
</div>

<div id="match-time" class="element timeslider">

</div>

<h2 id="input-title"></h2>


<div id="match-selector" class="userinput"></div>

{{!-- <div class="row events" style="margin-top: 15px; margin-bottom: 15px">
    <div class="col-xs-4">
        <div class="eventtype">
            <div class="btn btn-block btn-square fnSelectEventType">
                <div class="title">Hvad</div>
                <div class="name"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <div id="match-inputtypes" class="eventinput">
            <div class="inputcontainer">

            </div>
        </div>
    </div>
</div> --}}


<div class="row footer">
    <div class="col-sm-1 col-xs-2">
        <a id="btn-reset" class="btn btn-reset btn-block" data-style="move-up" data-horizontal><i class="fa fa-trash-o"></i></a>
    </div>
    <div class="col-sm-11 col-xs-10">
        <a id="btn-save" class="btn btn-block" data-style="fill" data-horizontal>Gem</a>
    </div>
    {{!-- <div class="col-xs-2">
        <button id="btn-skip" class="progress-button full" data-style="fill" data-horizontal>Næste</button>
    </div> --}}
</div>

{{!--
<div class="row spacing">
    <div id="match-time" class="col-sm-12">
        <div class="btn">Time</div>
    </div>
</div>

<div class="row spacing">
    <div class="col-sm-6"><div id="fnWhat" class="btn btn-large fnSelectable active">Hvad?</div></div>
    <div class="col-sm-6"><div id="fnWho" class="btn btn-large fnSelectable">Hvem?</div></div>
</div>

<div id="match-selector" class="row selector">

</div>

<div class="row footer">
    <div class="col-sm-4">
        <button class="progress-button full" data-style="move-up" data-horizontal>Gem</button>
    </div>
    <div class="col-sm-4">
        <button class="progress-button full" data-style="shrink" data-horizontal>Gem</button>
    </div>
    <div class="col-sm-4">
        <button class="progress-button full" data-style="fill" data-horizontal>Gem</button>
    </div>
</div>
--}}
