<div id="create-match-form">
    <form role="form">
        <table class="table">
            <tr>
                <td>
                  <div class="form-group">
                    <label for="hometeam">Hjemmehold</label>
                    <input type="text" class="form-control" id="hometeam" placeholder="Hjemmehold">
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label for="awayteam">Udehold</label>
                    <input type="text" class="form-control" id="awayteam" placeholder="Udehold">
                  </div>
                </td>
            </tr>

        </table>
    </form>
</div>

<a class="btn-event btn-alt" id="btn-create-match"><span>Opret Kamp</span></a>
