<div class="row events">
    <div class="time">
        <div class="btn-select">
            {{!-- <i class="fa fa-clock-o fa-2x"></i> --}}
            <span class="title">Tidspunkt</span>
            <span class="name">46'</span>
        </div>
    </div>
    <div class="eventtype">
        <div class="btn-select">
            <span class="title">Hvad</span>
            <span class="name">Boldberøring</span>
        </div>
    </div>
    <div class="eventinput">
        <div class="inputcontainer">

            <div class="block">
                <div class="btn-select completed">
                    <i class="fa fa-chevron-circle-down fa-2x"></i>
                    <span class="title">Hvem</span>
                    <span class="name">Michael Laudrup</span>
                </div>
            </div>

            <div class="block">
                <div class="btn-select current">
                    <div class="arrow"></div>
                    <div class="title">Hvor</div>
                    <div class="name">Zone 5</div>
                </div>
            </div>

            <div class="block">
                <div class="btn-select pending">
                    <div class="title">Modtager</div>
                    <div class="name">&nbsp;</div>
                </div>
            </div>

            <div class="block">
                <div class="btn-select pending">
                    <div class="title">Placering</div>
                    <div class="name">&nbsp;</div>
                </div>
            </div>

            <div class="block">
                <div class="btn-select pending">
                    <div class="title">Hvornår</div>
                    <div class="name">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="match-selector" class="row userinput">
    
</div>

<div class="row footer">
    <div class="col-sm-4">
        <button class="progress-button full" data-style="move-up" data-horizontal>Gem</button>
    </div>
    <div class="col-sm-4">
        <button class="progress-button full" data-style="shrink" data-horizontal>Gem</button>
    </div>
    <div class="col-sm-4">
        <button class="progress-button full" data-style="fill" data-horizontal>Gem</button>
    </div>
</div>

{{!-- 
<div class="row spacing">
    <div id="match-time" class="col-sm-12">
        <div class="btn">Time</div>
    </div>
</div>

<div class="row spacing">
    <div class="col-sm-6"><div id="fnWhat" class="btn btn-large fnSelectable active">Hvad?</div></div>
    <div class="col-sm-6"><div id="fnWho" class="btn btn-large fnSelectable">Hvem?</div></div>
</div>

<div id="match-selector" class="row selector">

</div>

<div class="row footer">
    <div class="col-sm-4">
        <button class="progress-button full" data-style="move-up" data-horizontal>Gem</button>
    </div>
    <div class="col-sm-4">
        <button class="progress-button full" data-style="shrink" data-horizontal>Gem</button>
    </div>
    <div class="col-sm-4">
        <button class="progress-button full" data-style="fill" data-horizontal>Gem</button>
    </div>
</div>
--}}