<div class="pitch zones">

    <div class="table">
        <div class="tr">
            <div class="td zone">
                Zone 7
            </div>
            <div class="td zone">
                Zone 8
            </div>
            <div class="td zone">
                Zone 9
            </div>
        </div>

        <div class="tr">
            <div class="td zone">
                Zone 4
            </div>
            <div class="td zone">
                Zone 5
            </div>
            <div class="td zone">
                Zone 6
            </div>
        </div>
        <div class="tr">
            <div class="td zone">
                Zone 1
            </div>
            <div class="td zone">
                Zone 2
            </div>
            <div class="td zone">
                Zone 3
            </div>
        </div>
    </div>

</div>
