{{!--<div class="pitch">
    <img src="images/pitch.png">
    <div class="overlay">
        <div id="pitchcanvas" class="pitchcanvas"></div>
    </div>
</div>--}}

<div id="toucharea" class="toucharea"></div>
