<div id="toucharea" class="toucharea">
    <div class="table">
        <div class="td zone fnValueSelect positive" data-value="true" data-name="Lykkedes" style="width: 50%">
            <i class="fa fa-thumbs-o-up fa-5x"></i>
        </div>
        <div class="td zone fnValueSelect negative" data-value="false" data-name="Mislykkedes" style="width: 50%">
            <i class="fa fa-thumbs-o-down fa-5x"></i>
        </div>
    </div>
</div>
