<div class="row">
    <div id="match-top" class="col-sm-12">TOP</div>
</div>

<div class="row">
    <div id="match-left" class="col-sm-6">LEFT</div>
    <div id="match-right" class="col-sm-6">RIGHT</div>
</div>
