<div class="table">
    <div class="td icon"><i class="fa fa-clock-o fa-2x"></i></div>
    <div class="td slider">
        <div class="meter">
            <span style="width: 0%"></span>
        </div>
    </div>
    <div class="td time"></div>
</div>
