<div class="col-sm-12">
        <div class="table">
            <div class="tr">
                <div class="td zone fnValueSelect positive" data-value="true" data-name="Lykkedes" style="width: 50%">
                    <i class="fa fa-thumbs-o-up fa-5x"></i><br>Lykkedes
                </div>
                <div class="td zone fnValueSelect negative" data-value="false" data-name="Mislykkedes" style="width: 50%">
                    <i class="fa fa-thumbs-o-down fa-5x"></i><br>Mislykkedes
                </div>
            </div>
        </div>
</div>
