{{#each items}}
	<div class="col-sm-4 col-xs-6">
	    <div id="input-{{slug}}" data-index="{{@index}}" class="btn btn-block btn-square pending">
	        <div class="title">{{name}}</div>
	        <div class="name">&nbsp;</div>
	    </div>
	</div>
{{/each}}
