{{#each items}}
	<div class="col-sm-4 col-xs-6">
	    <div class="btn btn-green btn-block btn-square fnValueSelect" data-value="{{id}}" data-name="{{name}}">{{#if number}}{{number}}. {{/if}}{{name}}</div>
	</div>
{{/each}}
