{{#each items}}
	<div class="block">
	    <div id="input-{{id}}" class="btn-select pending">
	        <div class="title">{{name}}</div>
	        <div class="name">&nbsp;</div>
	    </div>
	</div>
{{/each}}