<div class="row spacing">
    <div id="match-time" class="col-sm-12">
        <div class="btn">Time</div>
    </div>
</div>

<div class="row spacing">
    <div class="col-sm-6"><div id="fnWhat" class="btn btn-large fnSelectable active">Hvad?</div></div>
    <div class="col-sm-6"><div id="fnWho" class="btn btn-large fnSelectable">Hvem?</div></div>
</div>

<div id="match-selector" class="row">

</div>

<div class="row spacing">
    <div class="col-sm-4">
        <div class="btn btn-medium btn-square ">Tilbage</div>
    </div>
    <div class="col-sm-4">
        <div class="btn btn-medium btn-square ">Gem</div>
    </div>
    <div class="col-sm-4">
        <div class="btn btn-medium btn-square ">Næste</div>
    </div>
</div>
