<div class="row">
    <div id="match-time" class="col-sm-12">TIME</div>
</div>

<div class="row">
    <div id="match-top" class="col-sm-12"></div>
</div>

<div class="row">
    <div id="match-left" class="col-sm-6"></div>
    <div id="match-right" class="col-sm-6"></div>
</div>
