<h2 id="input-title" style="text-align: center; color: black"></h2>

{{#each items}}
	<div class="col-xs-4">
	    <div class="btn btn-medium btn-square fnValueSelect" data-value="{{id}}" data-name="{{name}}">{{name}}</div>
	</div>
{{/each}}
