<div class="col-sm-12">
    <div class="pitch zones">
        <div class="table">
            <div class="tr">
                <div class="td zone fnValueSelect thumbs-up" data-value="true" data-name="Lykkedes">
                    <i class="fa fa-thumbs-o-up fa-5x"></i><br>Lykkedes
                </div>
                <div class="td zone fnValueSelect thumbs-down" data-value="false" data-name="Mislykkedes">
                    <i class="fa fa-thumbs-o-down fa-5x"></i><br>Mislykkedes
                </div>
            </div>
        </div>
    </div>
</div>
