<div id="create-match-form">
    <form role="form">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="hometeam">Hjemmehold</label>
                    <input type="text" class="form-control input-lg" id="firstname" placeholder="Fornavn">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="awayteam">Udehold</label>
                    <input type="text" class="form-control input-lg" id="lastname" placeholder="Efternavn">
                </div>
          </div>
        </div>
    </form>
</div>

<a class="btn" id="btn-create-match"><span>Opret Kamp</span></a>
