@background_color: darken(#ffffff, 5%);
@primary_color: #2c3e50;
@secondary_color: #2bb673;
@text_default: #ffffff;
@text_inactive: #767e87;

@link_default: @primary_color;
@link_hover: @primary_color;

@topnav_background: #ffffff;
@topnav_text: @primary_color;
@topnav_border: darken(@topnav_background, 10%);

@element_bg_default: @primary_color;
@element_bg_highlight: @secondary_color;
@element_text: @text_default;
@element_text_inactive: @text_inactive;

@progress_filled: @secondary_color;
@progress_background: #14202c;
