


@colorprimary: rgba(34, 85, 52, 1);
@textdefault: #ededed;

//@backgroundcolor: #225534;
@backgroundcolor: darken(#3fbe5b, 5%);

@headercolor: darken(#3fbe5b, 20%);

@buttondefault: #3fbe5b;
@buttonhover: darken(#3fbe5b, 10%);
@buttontext: #f1f6f7;

@linkdefault: #ededed;
@linkhover: #ededed;

// ***********************

@green: #429960;
@dark: #364b5e;
@grey: #bdc2c7;
@light: #f1f6f7;
