// ----------------------------
// Prototype Variables
// ----------------------------

@height: 1024px;
@width: 100%;
//@width: 768px;


@betterteam-primary: rgb(34, 85, 52);
@betterteam-primary-transparent: rgba(34, 85, 52, 0.8);

@betterteam-primary-dark: darken(@betterteam-primary, 10%);
@betterteam-primary-light: #3fbe5b;

@betterteam-secondary: #223d4d;

@betterteam-text: #ededed;
@betterteam-text-secondary: #223d4d;
@betterteam-text-highlight: #3fbe5b;

@betterteam-button: #3fbe5b;
@betterteam-button-active: darken(#3fbe5b,5%);

#app{
  width: @width;
  height: @height;

  margin: 0 auto;
  background: url(../img/betterteam-background-optimized.jpg) no-repeat center center; 

  /*
  background: url(../img/betterteam-background-optimized.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */

}

ul.link-list{
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    float:left;
    padding: 0 3px;
    width: 50%;
  }
}

.touchable{
  cursor: pointer;
}


.time-progress{

  background-color: #fff;
  padding-top: 10px;
  color: #fe0016;
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;

  .time-progress-bar{

    background-color: #ff967f;
    height: 10px;
    margin-top: 10px;

    .time-progress-filled{
      background-color: #fe0016;
      width: 50%;
      height: 10px;
    }
  }
}

.box{
  position: relative;
  display: block;
  padding: 10px;
  //margin: 10px;
  margin: 0px;

  border-radius: 0;
  border: 1px solid transparent;
  color: @betterteam-text;

  background-color: @betterteam-primary-transparent;

  .clearfix();

  // alternate background colors
  &.box-dark{ background-color: @betterteam-primary-dark }
  &.box-light{ background-color: @betterteam-primary-light }
  &.box-white{ background-color: #fff; color: @betterteam-text-secondary }
  &.box-transparent{ background-color: @betterteam-primary-transparent }

  .hideable{
    overflow: hidden;
  }

  &.collapsed{

    h1{
      margin: 0 !important; 
    }

    .hideable{
      display: none;
    }
  }

  h1{
    margin: 0 0 10px 0; // margin-bottom: 10px

    &:only-child{
      margin: 0;
    }

    .selected-value{
      color: @betterteam-text-highlight;
    }

    text-transform: uppercase;
    //text-align: center;
    font-weight: 300;
    font-size: 2em;
  }  
}

a{
  &.box{
    // &:hover{
    //   color: @betterteam-text;
    //   background-color: @betterteam-primary-light;
    // }

    .touchable;
  }

  &:hover{
    text-decoration: none;
  }
}

.btn-event{

  display: table;
  width: 100%;
  background: @betterteam-button;
  color: @betterteam-text;
  margin-bottom: 5px;
  border: none;
  cursor: pointer;

  span{

    display: table-cell;
    height: 70px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
    
  }

  &:active{
    box-shadow: inset 1px 2px 5px @betterteam-primary-dark;
    background-color: @betterteam-button-active;
    color: @betterteam-text;
  }
}

.splashscreen{

  position: relative;

  width: @width;
  height: @height;

  //background: url(../img/betterteam-background-optimized.jpg) no-repeat center center; 
  

  img{

    position: absolute;

    width: 600px;
    top: 50%;
    left: 50%;
    //margin-top: -63px;
    margin-top: -150px;
    margin-left: -300px;
  }
}

.header{
  //margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid darken(@primarycolor, 10%);
  text-align: center;
  //background-color: rgba(0, 0, 0, 0.75);
  background-color: rgb(255, 255, 255);
  overflow: hidden;


}

.fnIntroTransition{
  position: relative;
}

// ----------------------------
// Bootstrap Customization
// ----------------------------

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding-right: 15px;
  padding-left: 15px;

  /*
  &:first-child{
    padding-left: 15px;
  }
  &:last-child{
    padding-right: 15px;
  }
  */
}