@green: #429960;
@dark: #364b5e;
@grey: #bdc2c7; //189,194,199
@light: #f1f6f7;
@background: #ebf0f2;

.text-green{
	color: @green;
}
.text-dark{
	color: @dark;
}
.text-grey{
	color: @grey;
}
.text-light{
	color: @light;
}

.bg-green{
	background-color: @green;
}
.bg-dark{
	background-color: @dark;
}
.bg-grey{
	background-color: @grey;
}
.bg-light{
	background-color: @light;
}
.bg-background{
	background-color: @background;
}

@padding: 10px;
@shadow: 1px;
@radius: 3px;
@gutter: 0 15px 0 15px;
@margin-bottom: 10px;