<div class="animation" data-animation-step="1">
	<div class="device">
		<div class="phone-home-button"></div>
		<div class="tablet-home-button"></div>
		<div class="screen-stand"><div class="leg"></div><div class="foot"></div></div>
		<div class="display">
			<div class="slide1"><div>Works on <em>desktops</em></div></div>
			<div class="slide2"><div>Works on <em>tablets</em></div></div>
			<div class="slide3"><div>Works on <em>phones</em></div></div>
		</div>
	</div>
</div>