<div class="row">
	<div class="col-md-6">
		<div id="r-players" class="box fnIntroTransition">
			<h1>{{firstname}} <strong>{{lastname}}</strong></h1>

			<table class="table">
				<tr>
					<th>Navn: </th>
					<td>{{name}}</td>
				</tr>

			</table>
		</div>
	</div>

	<div class="col-md-6">
		<div id="r-matches" class="box fnIntroTransition">
			<h1>BetterTeam <strong>Kampe</strong></h1>

		</div>
	</div>

</div>