<div class="header">
	<a href="javascript:history.back()" class="btn btn-default" style="float:left">
		<span class="glyphicon glyphicon-circle-arrow-left"></span>
	</a>

	<img src="img/betterteam-logo-small.png" />
</div>