<div class="header">
	<img src="img/betterteam-logo-small.png" />
</div>

<div id="r-top" class="well" style="position: relative">
	
</div>

<div id="r-bottom" class="well" style="position: relative">
	
	<img src="img/horizontal-pitch.svg" style="width: 100%"/>

</div>