<div class="header">
	<img src="img/betterteam-logo-small.png" />
</div>

<div id="r-top" class="well bg-primary" style="position: relative">

	<h1>Tabt boldbesiddelse</h1>
	
	<button class="btbtn btn-2 btn-2c">Lang bold ud af zone</button>
	<button class="btbtn btn-2 btn-2c">Basal Fejlaflevering</button>
	<button class="btbtn btn-2 btn-2c">Nærkamp / bolderobring</button>
	<button class="btbtn btn-2 btn-2c">Bold spillet ud af banen</button>

</div>

<div id="r-bottom" class="well bg-light" style="position: relative">
	
	<img src="img/horizontal-pitch.svg" style="width: 100%"/>

</div>