<div class="header">
	<img src="img/betterteam-logo-small.png" />
</div>

<div id="r-score" class="box box-white fnSlideTransition"></div>

<div id="r-top" class="box clickable fnEditEvent fnSlideTransition">
	<h1><span class="register-label" style="display: block; float: left; padding-right: 5px">Registrer</span> <strong>hvad</strong>: <span class="selected-value"></span></h1>

	<div class="hideable">
		<button class="btn-event fnRegisterEvent" data-value="Kant ind i banen">Kant ind i banen</button>
		<button class="btn-event fnRegisterEvent" data-value="Retvendt i mellemrum">Retvendt i mellemrum</button>
		<button class="btn-event fnRegisterEvent" data-value="Stikning bag forsvaret">Stikning bag forsvaret</button>
		<button class="btn-event fnRegisterEvent" data-value="Bandespil">Bandespil</button>
		<button class="btn-event fnRegisterEvent" data-value="1v1 på kant">1v1 på kant</button>
		<button class="btn-event fnRegisterEvent" data-value="Overlap">Overlap</button>
		<button class="btn-event fnRegisterEvent" data-value="Tidligt indlæg">Tidligt indlæg</button>
		<button class="btn-event fnRegisterEvent" data-value="Dribletur">Dribletur</button>
		<button class="btn-event fnRegisterEvent" data-value="Back til 10'er/9'er">Back til 10'er/9'er</button>
		<button class="btn-event fnRegisterEvent" data-value="Kryds til modsatte kant">Kryds til modsatte kant</button>
		<button class="btn-event fnRegisterEvent" data-value="Vender på modstander">Vender på modstander</button>
		<button class="btn-event fnRegisterEvent" data-value="Dybdeløb på kant">Dybdeløb på kant</button>
		<button class="btn-event fnRegisterEvent" data-value="Dybdeløb centralt">Dybdeløb centralt</button>
		<button class="btn-event fnRegisterEvent" data-value="Lang bold på targetspiller">Lang bold på targetspiller</button>
	</div>
</div>

<div id="r-who" class="box clickable collapsed fnEditWho fnSlideTransition">
	<h1><span class="register-label" style="display: block; float: left; padding-right: 5px">Registrer</span> <strong>hvem</strong>: <span class="selected-value"></span></h1>

	<div class="hideable">
		<button class="btn-event fnRegisterWho" data-value="Troels Johnsen">Troels Johnsen</button>
		<button class="btn-event fnRegisterWho" data-value="Lars Pedersen">Lars Pedersen</button>
		<button class="btn-event fnRegisterWho" data-value="William Prunier">William Prunier</button>
		<button class="btn-event fnRegisterWho" data-value="Teddy Sheringham">Teddy Sheringham</button>
		<button class="btn-event fnRegisterWho" data-value="Michael Laudrup">Michael Laudrup</button>
		<button class="btn-event fnRegisterWho" data-value="Brian Laudrup">Brian Laudrup</button>
		<button class="btn-event fnRegisterWho" data-value="Kim Vilfort">Kim Vilfort</button>
		<button class="btn-event fnRegisterWho" data-value="Lebogang Phiri">Lebogang Phiri</button>
		<button class="btn-event fnRegisterWho" data-value="Cristiano Ronaldo">Cristiano Ronaldo</button>
		<button class="btn-event fnRegisterWho" data-value="Lionel Messi">Lionel Messi</button>
		<button class="btn-event fnRegisterWho" data-value="Jimmy Floyd Hasselbaink">Jimmy Floyd Hasselbaink</button>
		<button class="btn-event fnRegisterWho" data-value="Jonjo Shelvey">Jonjo Shelvey</button>
	</div>
</div>

<div id="r-where" class="box fnSlideTransition">
	<h1>Registrer <strong>hvor</strong>: </h1>

	<div class="hideable">
		<img src="img/horizontal-pitch-narrow.svg" style="width: 100%"/>	
	</div>
</div>